body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: #22343d;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.62;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-size: 32px;
  font-weight: 700;
}
.list-title {
  font-weight: 600;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

.container {
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}
/* HEADER */
.header {
}
.header-container {
  display: flex;
}
.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  gap: 16px;
  margin-right: 237px;
}
.current {
  font-weight: 600;
}
.logo-img {
}
.header-nav {
  margin-right: auto;
}
.header-nav-list {
  display: flex;
  gap: 30px;
}
.header-nav-item {
}
.header-nav-links {
  display: block;
  padding: 26px 0;
  line-height: 1.75;
  color: #22343d;
}
.header-btn-list {
  display: flex;
  gap: 21px;
  align-items: center;
}
.header-btn-item {
}
.header-btn {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 105px;
  height: 42px;
  font-family: inherit;
  font-weight: 600;
  text-align: center;
  color: #173a56;
  background-color: transparent;
}
.header-btn:hover,
.header-btn:focus {
  background-color: #02897a;
  color: #fff;
  border-color: transparent;
}
/* END-HEADER */
/* HERO */
.hero {
  display: flex;
  align-items: center;
  padding: 20px 0 100px;
}
.hero-container {
  display: flex;
  align-items: center;
}

.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #22343d;
  max-width: 452px;
  margin-bottom: 18px;
  padding-right: 18px;
}
.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55556;
  color: #22343d;
  min-width: 432px;
  margin-bottom: 45px;
}
.hero-list-btn {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero-btn-item {
}
.hero-btn {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  background: #02897a;
  border: none;
  padding: 15px 41.7px 14px;
}

.hero-btn-container {
  display: flex;
  align-items: center;
}

.hero-btn-watch {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  color: #02897a;
  border: none;
  background-color: transparent;
}
.hero-img {
  display: block;
}

/* END-HERO */

/* TESTS-LIST */

.section-tests {
  padding-bottom: 50px;
}
.tests-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  margin-bottom: 50px;
}
.tests-list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 50px;
  width: calc((100%-30px * 3) / 4);
}

.tests-img {
  margin-right: auto;
  margin-bottom: 26px;
}
.tests-item-title {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  margin-right: auto;
  margin-bottom: 13px;
}
.testr-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: #22343d;
  margin-right: auto;
}
.tests-img {
  margin-right: auto;
  margin-bottom: 26px;
}

.tests-button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  background: #02897a;
  border: none;
  padding: 15px 41.7px 14px;
  text-transform: uppercase;
  margin: auto;
}

/* MANAGEMENT */

.management {
  padding-top: 50px;
  padding-bottom: 100px;
}
.management-container {
  display: flex;
}
.management-container-text {
  padding-top: 41px;

  width: 486px;
  margin-right: 84px;
}
.management-pre-title {
  font-weight: 600;
  margin-bottom: 8px;
}
.management-title {
  margin-bottom: 25px;
}
.management-text {
  margin-bottom: 30px;
  width: 465px;
}
.management-list {
}
.management-list-item {
  margin-bottom: 25px;
}
.management-list-title {
  margin-bottom: 12px;
}

.management-list-text {
  width: 440px;
}
.management-img {
}

/* END-MANAGEMENT */

/* SUPPORT */
.support {
  padding-bottom: 100px;
}
.support-container {
  display: flex;
}
.support-img {
  margin-right: 84px;
}
.support-text-container {
  padding-top: 41px;
  padding-bottom: 40px;
}
.support-pre-title {
  font-weight: 600;
  margin-bottom: 8px;
}
.support-title {
  margin-bottom: 25px;
}
.support-text {
  margin-bottom: 30px;
  width: 437px;
}
.support-list {
}
.support-list-item {
  display: flex;
  margin-bottom: 25px;
}
.support-icon-check {
  margin-right: 30.06px;
}
.support-list-text {
  width: 347px;
}
/* END-SUPPORT */

/* COLLABORATIVE */
.collaborative {
  padding-bottom: 150px;
}

.collaborative-container {
  display: flex;
}
.collaborative-text-container {
  padding-top: 41px;
  padding-bottom: 40px;
  margin-right: 84px;
}
.collaborative-pre-title {
  font-weight: 600;
  margin-bottom: 8px;
}
.collaborative-title {
  margin-bottom: 25px;
}
.collaborative-text {
  margin-bottom: 30px;
  width: 434px;
}
.collaborative-list {
}
.collaborative-list-item {
  margin-bottom: 25px;
}
.collaborative-list-title {
  margin-bottom: 12px;
}
.collaborative-list-text {
  width: 440px;
}
.collaborative-icon {
}
/* END-COLLABORATIVE */

/* PROCESS */
.process {
}

.process-container {
  padding: 0 97px 100px;
}
.process-title {
  padding-bottom: 25px;
  text-align: center;
}
.process-text {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 500;
  max-width: 524px;
  margin: 0 auto 40px;
}
.process-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 25px;
  margin-bottom: 50px;
}
.process-list-item {
  display: flex;

  min-width: 408px;
  align-items: center;
  gap: 20px;
}
.process-list-img {
}
.process-list-text {
  font-weight: 500;
}

.process-button {
  display: block;
  margin: 0 auto;
  height: 53px;
  width: 216px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  background-color: #02897a;
  border: none;
}

/* END-PROCESS */
/* STRATEGIES */
.strategies {
  padding-bottom: 171px;
}
.strategies-container {
}
.strategies-title {
  margin-bottom: 10px;
}
.strategies-text {
  margin-bottom: 40px;
}
.strategies-list {
  display: flex;
  gap: 30px;
}
.strategies-list-item {
  border: 1px solid #dedede;
  border-radius: 8px;
  padding-bottom: 40px;
}
.strategies-list-img {
  margin-bottom: 24px;
}
.strategies-list-text-container {
  padding: 0 27px 0 24.14px;
}
.strategies-list-text {
  line-height: 1.75;
  margin-bottom: 12px;
}
.strategies-list-span {
  font-weight: 700;
}
.strategies-list-title {
  font-weight: 700;
  font-size: 24px;
  min-width: 296px;
}

.color-title {
  color: #02897a;
}
/* END_STRATEGIES */

/* PRICE */
.price {
  padding-bottom: 100px;
}

.price-container {
}
.price-title {
  margin-bottom: 10px;
  text-align: center;
  font-size: 34px;
}
.price-text {
  margin-bottom: 40px;
  text-align: center;
}
.price-list {
  display: flex;
  gap: 72px;
}
.price-list-item {
  padding: 32px 0 32px 0;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  width: calc((100% - 72px * 2) / 3);
}
.price-list-item-title {
  margin-bottom: 8px;
  text-align: center;
}
.price-list-item-text {
  margin-bottom: 16px;
  text-align: center;
}
.price-list-amount {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.01em;
  color: #afafaf;
  font-family: "Montserrat", sans-serif;
  gap: 7px;
}

.price-list-colored {
  background-color: #02897a;
  color: #fff;
}
.price-amount {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 76px;
  line-height: 1.31579;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;
  margin-bottom: 15px;
  position: relative;
  display: inline-block;
}

.amount-colored {
  color: #fff;
}

.price-amount::after {
  content: "$";
  position: absolute;
  top: 24px;
  margin-left: 10px;

  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
}
.amount-colored::after {
  content: "$";
  position: absolute;
  top: 24px;
  margin-left: 10px;

  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #fff;
}

.price-dollar {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
  position: absolute;
}
.price-card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 16px;
  margin-bottom: 30px;
}
.price-card-list-item {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.37;
  letter-spacing: 0.01em;
}

.price-button {
  display: block;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border-radius: 8px;
  width: 139px;
  height: 44px;
  background-color: #02897a;
  border: none;
}
.price-button-colored {
  display: block;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #02897a;
  border-radius: 8px;
  width: 139px;
  height: 44px;
  background-color: #fff;
  border: none;
}
/* END_PRICE */

/* FEEDBACK */
.feedback {
}

.feedback-container {
}
.feedback-title {
  text-align: center;
  line-height: 1.78;
  padding-bottom: 10px;
}
.feedback-text {
  text-align: center;
  max-width: 537px;
  margin: 0 auto 40px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
}
.feedback-list {
  display: flex;
  gap: 64px;
}
.feedback-list-item {
  width: calc((100% - 64px * 2) / 3);
  padding-top: 26px;
  padding-left: 26px;
  border: 1px solid #dedede;
  border-radius: 5px;
}
.feedback-icon-stars {
}
.feedback-list-text {
  width: 275px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #737373;
  padding-bottom: 16px;
}

.feedback-list-cart-container {
  display: flex;
}
.feedback-list-cart-container-text {
}
.feedback-list-icon {
  margin-right: 14px;
}
.fedback-list-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
}
.feedback-list-post {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.01em;
  color: #252b42;
}
/* END_FEEDBACK */
